

.banner {
width: 100vw;
min-height: 70vh;
display: flex;
justify-content: center;
align-items: center;
flex-flow: row nowrap;
padding: 50px;
@media (max-width: 768px) {
  flex-flow: column;
  margin-top: -50px;
  min-height: 100vh;
  padding: 10px;

}
}

.bannerHeading {
  display: flex;
  justify-content: center;
  text-align: start;
  flex-flow: column;
  width: 80%;
  
  @media (max-width: 768px) {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  h1 {
    color: #1b1b7c;
    font-family: 'Inter', sans-serif;    
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: 800;
    @media (max-width: 768px) {
      font-size: 35px;
    }
  }
  p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-right: 61px;
    @media (max-width: 768px) {
      font-size: 16px;
      margin-right: 0px;
    }
  }
  div {
    display: flex;
    justify-content: start;
    @media (max-width: 768px) {
      justify-content: center;
      flex-direction: column;
    }
    a {
      display: inline-flex;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.1px;
    font-weight: 600;
    padding: 11px 31px;
    height: 48px;
    text-decoration: none!important;
    color: #25282c;
    background-color: #eceded;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    letter-spacing: inherit;
    white-space: nowrap;
    font-family: "Inter", sans-serif;
    transition: background .15s;
    margin-right: 30px;
    @media (max-width: 768px) {
      margin-right: 0px;
      margin-bottom: 20px;
    }
    }
  }
}

.bannerImg {
width: 100%;
height: auto;
@media (max-width: 768px) {
  padding: 5px;
}
}

.homeText {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  width: 100%;
  margin-right: 40px;
  color: white;
  font-family: 'Inter', sans-serif;
  @media (max-width: 768px) {
    width: 100%;
    padding: 10px;
    margin-right: 0px;
  }
  h1 {
    font-family: 'Inter', sans-serif;    
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: start;
    @media (max-width: 768px) {
      text-align: center;
      font-size: 42px;

    }
  }
  p {
    font-family: 'Inter', sans-serif;    
    font-size: 20px;
    text-align: left;
    @media (max-width: 768px) {
      font-size: 16px;
      text-align: center;
    }
  }
}

.homeImage {
  width: 100%;
  height: auto;
  img{
    margin: 0px;
    padding: 25px;
    border-radius: 50px;
    @media (max-width: 768px) {
      padding: 10px;
    }
  }
  // @media (max-width: 768px) {
  //   padding: 5px;
  // }

}

.homeWrapper {
  width: 100vw;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  padding: 50px;
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(27, 27, 124, 0.856), 
      rgba(27, 27, 124, 0.822)
    ),
    /* bottom, image */
    url(./../Images/esomorning/about.jpeg);
  @media (max-width: 768px) {
    flex-flow: column;
    margin-top: -50px;
    min-height: 80vh;
    padding: 25px;
  
  }
}

.container {
  background: rgb(27,27,124);
  background: linear-gradient(180deg, rgba(27,27,124,1) 12%, rgba(65,127,187,1) 100%);
}