.video-item {
  margin: 2px;
  cursor: pointer;

  width: 100%;
}
/* @media (max-width: 480px) {
  .video-item{
    height: 210px;
  }
} */

/* @media (max-width: 768px) {
  .video-item{
    height: 210px;
  }
} */

/* @media (min-width: 768px) {
  .video-item{
    height: 400px;
  }
} */

.video-item.item img {
  max-width: 100px;
  object-fit: scale-down;
}

